<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Your Health in your hands | Kneeporty</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="keywords" content="Keep in touch with life.">
<meta name="author" content="Kneeporty">
<meta name="description" content="Your good life starts here!">
<meta property="og:description" content="Keep in touch with life.">

<script type="application/x.javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
				function hideURLbar(){ window.scrollTo(0, 1); } </script>

<link href="public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="public/css/flexslider.css" rel="stylesheet" type="text/css" media="all">
<link href="public/css/font.awesome.css" rel="stylesheet" type="text/css" media="all">



</head>
<body>
	{{{body}}}
</body>
</html>
